<div>
    <input type="text" name="email" id="email" />
    <input type="password" name="password" id="password" />
    <button class="btn btn-primary" id="register">Register</button>
    <button class="btn btn-primary" id="login">Login</button>
    <button class="btn btn-primary" id="logout">Logout</button>
</div>
<br />
<br />
<div>
    <input type="text" name="subject" id="subject" />
    <input type="textarea" rows="4" cols="50" name="content" id="content" />
    <button id="save">Save</button>
</div>
<div>
    <input type="text" name="date" id="date" />
    <button id="get">Get</button>
</div>
<script type="text/javascript" src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
<script type="text/javascript">

    $('document').ready(function () {
        $('#register').on('click', function (el) {
            var secret = localStorage.getItem('key');
            if(secret === 'null')   {
                var email = $('#email').val();
                var password = $('#password').val();
                var token = '{{ token }}';
                var path = '{{ path('app_get_key') }}';
                $.ajax({
                    url: path,
                    type: 'post',
                    datatype: 'json',
                    data: {'email': email, 'pass': password, 'token': token},
                    success: function (data) {
                        if (data.type === 'success') {
                            console.log(data);
                        }
                    }
                });
            }   else {
                console.log('already signed in');
            }
        });
        
        $('#login').on('click', function (el) {
            var secret = localStorage.getItem('key');
            if(secret === 'null')   {
                var email = $('#email').val();
                var password = $('#password').val();
                var token = '{{ token }}';
                var path = '{{ path('app_login') }}';
                $.ajax({
                    url: path,
                    type: 'post',
                    datatype: 'json',
                    data: {'email': email, 'pass': password, 'token': token},
                    success: function (data) {
                        if (data.type === 'success') {
                            localStorage.setItem('key', data.secret);
                        }
                    }
                });
            }   else {
                console.log('Already signed in');
            }
        });
        
        $('#logout').on('click', function()   {
            var secret = localStorage.getItem('key');
            if(secret != 'null')  {
                localStorage.setItem('key', 'null');
            }
        });
        
        
        $('#save').on('click', function()   {
            
            var secret = localStorage.getItem('key');
            if(secret !== 'null')   {
                var subject = $('#subject').val();
                var content = $('#content').val();
                var token = '{{ token }}';
                var path = '{{ path('app_note_save') }}';
                $.ajax({
                    url: path,
                    type: 'post',
                    datatype: 'json',
                    data: {'subject': subject, 'content': content, 'secret': secret, 'token': token},
                    success: function (data) {
                        console.log(data);
                    }
                });
            }   else {
                console.log("You should login");
            }
        });
        
        $('#get').on('click', function()   {
            
            var secret = localStorage.getItem('key');
            if(secret !== 'null')   {
                var date = $('#date').val();
                var path = '{{ path('app_note_get') }}';
                $.ajax({
                    url: path,
                    type: 'post',
                    datatype: 'json',
                    data: { 'secret': secret, 'date': date },
                    success: function (data) {
                        var notes = $.parseJSON(data.notes);
                        $.each(notes, function(k,v)    {
                            console.log(v);
                        });
                    }
                });
            }   else {
                console.log("You should login");
            }
        });
    });
</script>